
.titulo {
    background-color: yellow;
}
 

.tarjeta{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    width:420px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius:15px;
    font-family: sans-serif;
   
  }


  .tables {
    background-color: white;
    padding: 1em;
    border-color: green !important;  
     
    }

    th {
        text-transform: uppercase;
        font-weight: 300;
        text-align: center;
        color: white;
        background-color: green;
        position: relative;
    }